<div class="float-fix">

  <!-- Start User Profile Section -->
  <section class="user-profile-section">
		<%= image_tag(@user.picture, :class => "profile-image") %>

		<h2><%= @user.name %></h2>

		<p>Last seen: <%= @user.current_city %></p>

		<p>Joined: <%= @user.created_at.strftime("%d %b. %Y") %></p>

		<%= link_to "Edit Profile", edit_user_path(@user.id), class: "edit-profile-button" %>
	</section>


  <!-- Start User Post Section -->
  <section class="user-post-section">
	<h2>Posts</h2>
		<div class="user-post-block">
			<% @posts.each do |post| %>
			 <h3 class="user-post-title"><%= link_to post.title, show_post_path(@user.id, post.id) %></h3>
			 <p><%= post.content %></p>

			<%= link_to "Delete Post", delete_post_path(get_city(post.id), post.id), data: { confirm: 'Are you sure you want to delete "' + post.title + '"' }, method: :delete, class: "btn btn-danger" %>

			<%= link_to "Edit Post", edit_city_post_path(get_city(post.id), post.id), class: "btn btn-primary" %>
		</div>

		<% end %>
	</section>

</div>