<section class="form-container">

	<%= form_for(@post, url: update_post_path) do |f| %>

		<h2>Edit Post</h2>

		<div class="container-gray">
				Title
			<div class="input-field">
				<%= f.text_field :title, class: "form-control" %>
			</div>
				Content
			<div class="input-field">
				<%= f.text_field :content, class: "form-control" %>
			</div>
		</div>

		<div class="modal-footer">
			<%= link_to "Cancel", :back, class: "btn btn-secondary" %>
			<%= submit_tag "Update Post", class: "btn btn-primary" %>
		</div>

	<% end %>

</section>
