<h1 class="city-name"><%= @city.name %></h1>
<a href="#" data-toggle="modal" data-target="#new-post-modal" class="btn btn-primary new-post">Add New Post</a>

<div class="city-show-image">
	<%= image_tag(@city.picture, class: "city-show-image")%>
</div>

<div class="city-show-posts">

	<% @posts.each do |post| %>

	<h5><%= get_user(post.user_id).name %></h5></br>

	<%= image_tag(get_user(post.user_id).picture, class: "img-size") %><br />

	<h2><%= post.title  %></h2>
	<span><%= post.content %></span>

	<% end %>

</div>

<!--New Post Modal-->
<div id="new-post-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<%= form_for([@city, @post]) do |f| %>

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add New Post</h4>
			</div>

			<div class="modal-body">
				<div class="bold">
					Title
				</div>
				<div class="margin-top-20">
					<%= f.text_field :title, placeholder: "Title", class: "form-control" %>
				</div>
				<div class="bold margin-top-20">
					Content
				</div>
				<div class="margin-top-20">
					<%= f.text_field :content, placeholder: "Content", class: "form-control" %>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit "Create Post", class: "btn btn-primary" %>
			</div>

			<% end %>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/Add Book Modal-->