

<img id="banner" src="http://i.imgur.com/dDznL1V.png">
<div class="cities-wrap">
  <% @cities.each do |city| %>

  <style>
  .city-image {
    display: block;
    width: 100%;
    height: 500px;
    text-decoration: none;
    padding: 0;
    margin: 30px auto;
  }

  a.city-image {
    text-decoration: none !important;
  }

  .<%=city.name.delete("  '")%> {
    background: url(<%=city.picture%>);
    cursor: pointer;
    margin: auto;
  }

  .city-title-overlay {
    display: none;
  }


  .city-image:hover .city-title-overlay {
    display: block;
    font-family: 'Jim Nightshade', cursive;
    font-size: 86px;
    color: #fff;
    text-align: center;
    text-decoration: none !important;
    padding: 20% 0 0;
    margin: 30px 0 0 30px;
  }

  .ShelobsLair {
    margin: 30px auto !important;
  }

  </style>


  <a href='<%=city_path(city.id)%>' class="city-image <%=city.name.delete(" '")%>">

  <p class="city-title-overlay"><%= city.name %></p>

  </a>

      <%= link_to "Delete Realm", delete_city_path(city.id),method:"delete", class: "btn btn-danger" %>

      <%= link_to "Edit Realm",  edit_city_path(city.id), class: "btn btn-primary" %>

  <% end %>
</div>
