<h1 class="city-name"><%= @city.name %></h1>
<a href="#" data-toggle="modal" data-target="#new-post-modal" class="btn btn-primary new-post">Add New Post</a>

<div class="city-show-image-container">

	<%= image_tag(@city.picture, class: "city-show-image")%>
</div>

<div class="city-show-posts">
	<% @posts.each do |post| %>
		<div class="container-gray float-fix">
			<section class="user-profile-section-small">
				<%= image_tag(get_user(post.user_id).picture, class: "profile-image-small") %>
				<!-- <h5><%= get_user(post.user_id).name %></h5> -->
			</section>

			<section class="user-post-section-wide">
				<h2><%= link_to post.title, city_post_path(@city, post.id)  %></h2>
				<span class="post-content"><%= post.content %></span>
				<% comments = get_comments(post.id) %>
				<% comments.each do |comment| %>
					<div class="comment-content-wide">	
						<p class="comment">
							<span class="comment-user-name"><%= get_user(comment.user_id).name %>:</span>
							<span class="comment-content"><%= comment.content %></span>
						</p>
					</div>

					<% if current_user && current_user.id == comment.user_id %>
						<%= link_to "Delete", delete_comment_path(@city.id, post.id, comment.id), data: { confirm: 'Are you sure you want to delete this comment?' }, method: :delete, class: "btn btn-danger" %>
						
						<%= link_to "Edit", edit_city_post_comment_path(@city.id, post.id, comment.id), class: "btn btn-primary" %>
					<% end %>
				<% end %>
			</section>
		</div>
		<%= link_to "Comment", city_post_path(@city, post.id), class: "btn btn-primary bottom-margin"  %>
	<% end %>
</div>

<!--New Post Modal-->
<div id="new-post-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<%= form_for([@city, @post]) do |f| %>

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Add New Post</h4>
			</div>

			<div class="modal-body">
				<div class="bold">
					Title
				</div>
				<div class="input-field">
					<%= f.text_field :title, placeholder: "Title", class: "form-control" %>
				</div>
				<div class="bold">
					Content
				</div>
				<div class="input-field">
					<%= f.text_field :content, placeholder: "Content", class: "form-control" %>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<%= f.submit "Create Post", class: "btn btn-primary" %>
			</div>

			<% end %>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/Add Book Modal-->
