<!DOCTYPE html>
<html>
  <head>
    <title>FellowshipAdvisor&trade;</title>
    <%= csrf_meta_tags %>

    <link rel="icon" href="http://i.imgur.com/xASwHuH.png">

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Jim+Nightshade" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "FellowshipAdvisor", root_path, :class => "navbar-brand active golden" %>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li><%= link_to "Add Realm",  '/cities/new' %></li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">




    <%= flash[:error] %>
      <div class="wrap">

          <%= yield %>

      </div>
    </div>
    <!--jQuery-->
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
